<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Portal_Font_Modelo.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/main.css">

<script src="../js/jquery-3.1.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/responsiveslides.js"></script>
<!-- InstanceBeginEditable name="doctitle" -->
<title>Portal Fametro</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<!--------------------- div Logo ---------------------------->
		<div id="logo">
        <table>
          <tr>
            <td><img src="../img/logo-png.png" width="160"; height="80";/></td>
            
            <td> 
            <marquee scrollDelay=100><font size="+2"><font face="Times New Roman, Times, serif"><font color=#060>
            Conheça todas as formas de ingresso disponíveis: Vestibular, ENEM, Transferência, 2ª Graduação, FIES e PROUNI.
            / / Conheça nossas unidades, laboratórios, biblioteca e muito mais.  
            </em></font></marquee> 
            </td> 
          </tr>
         
        </table>
        </div>        
<!--------------------- Fim div Logo ------------------------>


<!--------------------- Nav Menu ---------------------------->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">    
    	<div class="navbar-header">
        
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>                        
      		</button>     		
            
    	</div>
        
    <div class="collapse navbar-collapse" id="myNavbar">
      	<ul class="nav navbar-nav">
      
            <li class="active">
            <li><a href="#">Home</a></li>
            <li><a href="#">Instituição</a></li>
            
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Noticias<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Graduação</a></li>
                    <li><a href="#">Pos-Graduação</a></li>
                    <li><a href="#">Extensão</a></li>
                </ul>
        	</li>
                    
        	<li><a href="Contato.html">Contato</a></li>
        
      	</ul>
      
      	<ul class="nav navbar-nav navbar-right">        
      		<li><a href="Login.html"><span class="glyphicon"></span> Login</a></li>
      	</ul>        
       
      
    	</div>
	</div>
</nav>

<!--------------------- Fim Nav Menu --------------------------->


<!--------------------- div coteudo ----------------------------><!-- InstanceBeginEditable name="Conteudo" -->
<div class="container-fluid">
    	<div id="cad-funcionario">
       	
         <h3> Fale Conosco </h3>
         <br/>	
         <form action="#local_pagina" name="acesso" method="post">
            <div class=form-content>              
                               
	        <div class="col-sm-4">
            <div class=form-group> <input name="nome" type="text" id="nome" maxlength="60" class="form-control input-underline input-lg" placeholder="Nome"/></div>           
            </div>
            
            <div class="col-sm-2">
            <div class=form-group><input name="telefone" type="text" id="telefone" placeholder="Telefone" class="form-control input-underline input-lg" maxlength="10" /></div>
            </div>          
            
            <div class="col-sm-4">
            <div class=form-group><input name="email" type="text" id="email" class="form-control input-underline input-lg" maxlength="30" placeholder="Email" /></div>
            </div>
            
             <div class="col-sm-4">
            <div class=form-group><select name="assunto" id="assunto" class="form-control input-underline input-lg" />
	            <option>Assunto...</option>
	            <option value="assunto1">Quero ser aluno Fametro</option>
	            <option value="assunto2">Parceria com empresas</option>
                <option value="assunto3">Finaceiro</option>
	            <option value="assunto4">FIES/PROUNI</option>
                <option value="assunto5">Comissão Própria de Avaliação-CPA</option>
	            <option value="assunto6">Problemas com Portal Acadêmico</option>
                <option value="assunto7">Informações gerais</option>
	            <option value="assunto8">Outros</option>
	            </select></div>                
            </div>
            
            <div class="col-sm-6">
            <div class=form-group><input name="mensagem" type="text" id="mensagem" class="form-control input-underline input-lg" maxlength="30" placeholder="mensagem" /></div>
            </div>
            
            <div class="col-sm-6">
            <br/> 
            <button type="submit" name="cadastrar" class="botaologin bradius botao">Salvar</button>
            <button type="reset" name="limpar" class="botaologin bradius botao">Limpar</button> 
            </div>              
         </form>            
         
    	</div>      
    
	</div>
    
</div>
<!-- InstanceEndEditable --><!--------------------- Nav do Informativo ---------------->
    <nav class="navbar navbar-inverse">
		<h1> Na Fametro, você aprende com quem sabe. </h1>
	</nav>
    <!--------------------- Fim Nav do Informativo ------------>
    
    
    <!------------------- div Canal ------------------------>
   

    <!----------------- fim da div Canal ------------------->
    
    
    <!------------------- div Unidades ------------------------>
    <div>    
    	<ul class="rslides">  			
  			<li><img src="../img/Sem%20Título-1.png" ></li>  			
		</ul>    	    	   
	</div>
    <!----------------- fim da div Unidades ------------------->
    
    
<!----------------- fim da div coteudo ------------------------>


<!--------------------- Nav do Rodape ------------------------->

<nav class="navbar navbar-inverse">
<h2>Copyright © 2016 Fametro. Todos os direitos reservados.</h2>
</nav>

<!----------------- Fim Nav do Rodape ------------------------->

</body>
<!-- InstanceEnd --></html>
