<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/main.css">

<script src="../js/jquery-3.1.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/responsiveslides.js"></script>

<title>Portal Fametro - Cordenação</title>
</head>

<body>

<!--------------------- div Logo ---------------------------->
		<div id="logo">
        <table>
          <tr>
            <td><img src="../img/logo-png.png" width="160"; height="80";/></td>
            
            <td> 
            <marquee scrollDelay=100><font size="+2"><font face="Times New Roman, Times, serif"><font color=#060>
            Conheça todas as formas de ingresso disponíveis: Vestibular, ENEM, Transferência, 2ª Graduação, FIES e PROUNI.
            / / Conheça nossas unidades, laboratórios, biblioteca e muito mais.  
            </em></font></marquee> 
            </td> 
          </tr>
         
        </table>
        </div>        
<!--------------------- Fim div Logo ------------------------>


<!--------------------- Nav Menu ---------------------------->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">    
    	<div class="navbar-header">
        
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>                        
      		</button>     		
            
    	</div>
        
    <div class="collapse navbar-collapse" id="myNavbar">
      	<ul class="nav navbar-nav">
      
            <li class="active">
            <li><a href="Portal_Cordenacao.html">Home</a></li>
            <li><a href="Funcionarios_cadastro.html">Cadastro de Funcionário</a></li>
            <li><a href="Alunos_cadastro.html">Cadastro de Aluno</a></li>
            <li><a href="#">Declaração</a></li>
            <li><a href="#">Trancar Disciplina</a></li>
            <li><a href="#">Trancar Semestre</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Requisição<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Requisição de Faltas a Professores</a></li>
                    <li><a href="#">Requisição de Notas a Professores</a></li>                    
                </ul>
        	</li>
            <li><a href="#">Opiniões</a></li>
            <li><a href="Portal.html">Sair</a></li>
            
      	</ul>     	        
       
      
    	</div>
	</div>
</nav>

<!--------------------- Fim Nav Menu --------------------------->


<!--------------------- div coteudo ---------------------------->
<ul class="rslides">  			
  			<li><img src="../img/Destaque-3.png" ></li>  			
		</ul>

		<script>
  			$(function() {
    		$(".rslides").responsiveSlides();
  			});
		</script>
        


<div class="container-fluid">

	<div class="col-sm-4">
    	<div class=form-group> <a href="Funcionarios_cadastro.html"> <img src="../img/cordenacao-1.png" width="100%"; height="100%";/></div>      
    </div>
    
    <div class="col-sm-4">
    	<div class=form-group> <a href="Alunos_cadastro.html"> <img src="../img/cordenacao-2.png" width="100%"; height="100%";/></div>        
    </div>
    
    <div class="col-sm-4">
    	<div class=form-group> <a href="#"> <img src="../img/cordenacao-3.png" width="100%"; height="100%";/></div>        
    </div>
    
    <div class="col-sm-4">
    	<div class=form-group> <a href="#"> <img src="../img/cordenacao-4.png" width="100%"; height="100%";/></div>       
    </div>
    
    <div class="col-sm-4">
    	<div class=form-group> <a href="#"> <img src="../img/cordenacao-5.png" width="100%"; height="100%";/></div>        
    </div>
    
    <div class="col-sm-4">
    	<div class=form-group> <a href="#"> <img src="../img/cordenacao-6.png" width="100%"; height="100%";/></div>        
    </div>
    
    <div class="col-sm-6">
    	<div class=form-group> <a href="#"> <img src="../img/cordenacao-7.png" width="100%"; height="100%";/></div>        
    </div>
    
    <div class="col-sm-6">
    	<div class=form-group> <a href="#"> <img src="../img/cordenacao-8.png" width="100%"; height="100%";/></div>        
    </div>
    
             
</div>   
<!----------------- fim da div coteudo ------------------------>


<!--------------------- Nav do Rodape ------------------------->

<nav class="navbar navbar-inverse">
<h2>Copyright © 2016 Fametro. Todos os direitos reservados.</h2>
</nav>

<!----------------- Fim Nav do Rodape ------------------------->

</body>
</html>
